In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/processed_data.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34

In [3]:
# Check how many total unique customer ID's there are
df['CustomerID'].nunique()

4372

In [12]:
# Total Blank Customer ID's
na_customer_id = df[df['CustomerID'].isna()]
na_customer_id

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
622,536414,22139,NaN,56,2010-12-01 11:52,0.00,NaN,United Kingdom,0.00
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32,2.51,NaN,United Kingdom,2.51
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32,2.51,NaN,United Kingdom,5.02
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32,0.85,NaN,United Kingdom,3.40
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32,1.66,NaN,United Kingdom,3.32
...,...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26,4.13,NaN,United Kingdom,20.65
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26,4.13,NaN,United Kingdom,16.52
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26,4.96,NaN,United Kingdom,4.96
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26,10.79,NaN,United Kingdom,10.79
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26,1714.17,NaN,United Kingdom,1714.17

In [14]:
# How many unique customers from blank Customer ID's list
na_customer_id['InvoiceNo'].nunique()

3710

In [20]:
# Check Loyal customer percentage for the UK
uk_df = df[df['Country'] == 'United Kingdom'] #filter by country if specified

# Count unique loyal customers
loyal_customers = uk_df['CustomerID'].nunique()

# Count non-loyal customers by InvoiceNo for rows with blank ID's (this assumes that 1 invoice is 1 customer)
non_loyal_customers = uk_df[uk_df['CustomerID'].isna()]
total_non_loyal_customers = non_loyal_customers['InvoiceNo'].nunique()  # Count unique InvoiceNo for non-loyal customers
    
total_unique_customers = loyal_customers + total_non_loyal_customers
loyal_customers_ratio = loyal_customers / total_unique_customers
print(loyal_customers_ratio)

0.5206273889547911

In [21]:
# Check non-loyal customers in the UK (row's with blank ID's) & assuming 1 invoice is 1 customer
non_blank_customer_ids = uk_df[uk_df['CustomerID'].notna()]
total_sales = non_blank_customer_ids['Revenue'].sum()

print(total_sales)

6767873.393999998

In [23]:
# Net Sales
total_sales = uk_df['Revenue'].sum()
total_sales

8187806.364000001

In [25]:
# Total Returns (negative Revenue)

returns = uk_df[uk_df['Revenue'] < 0]
total_returns = returns['Revenue'].sum()
total_returns

-837415.72

## Convert into Functions

In [15]:
def loyal_customer_ratio(df, country=None):
    if country:
        df = df[df['Country'] == country] #filter by country if specified
    loyal_customers = df['CustomerID'].nunique()

    # Count non-loyal customers by InvoiceNo for rows with blank ID's (this assumes that 1 invoice is 1 customer)
    non_loyal_customers = df[df['CustomerID'].isna()]
    total_non_loyal_customers = non_loyal_customers['InvoiceNo'].nunique()  # Count unique InvoiceNo for non-loyal customers
    
    total_unique_customers = loyal_customers + total_non_loyal_customers
    loyal_customers_ratio = loyal_customers / total_unique_customers

    return f"{round(loyal_customers_ratio * 100, 2)}%"

def loyal_customer_sales(df, country=None):
    if country:
        df = df[df['Country'] == country]
    non_blank_customer_ids = df[df['CustomerID'].notna()]
    total_sales = non_blank_customer_ids['Revenue'].sum()
    return f"${total_sales:,.2f}"

def net_sales(df, country=None):
    if country:
        df = df[df['Country'] == country]
    total_sales = df['Revenue'].sum()
    return f"${total_sales:,.2f}"

def total_returns(df, country=None):
    if country:
        df = df[df['Country'] == country]
    returns = df[df['Revenue'] < 0]
    total_returns = returns['Revenue'].sum()
    return f"${total_returns:,.2f}"

In [16]:
print(loyal_customer_ratio(df, country='United Kingdom'))
print(loyal_customer_sales(df, country='United Kingdom'))
print(net_sales(df, country='United Kingdom'))
print(total_returns(df, country='United Kingdom'))

52.06%
$6,767,873.39
$8,187,806.36
$-837,415.72